<% provide(:title, 'Questions of Interest') %>
<h1>Questions of Interest</h1>

<p>Authenticity means your Golden Circle is in balance.</p>

<p>WHY is the inspiration behind belief.</p>
<p>HOWs are the actions we take to realize that belief. Your values or principles that bring your cause to life.</p>
<p>WHATs are the results of those actions. Everything you say or do to prove what you believe.</p>

<p>People don't buy what you do. They buy why you do it.</p>

<table>
  <tr>
    <td>
      <h3>Why do you do what you do?</h3>
      <p>Why is a purpose, cause or belief.</p>
      <%= render 'shared/why_form' %>
      <%= render 'shared/whyfeed' %>
    </td>
  </tr>
</table>

<p>HOWs are your values or principles that guide HOW to bring your cause to life.</p>

<p>WHATs are the results of those actions - everything you say and do has to prove what you believe (your products, services, marketing, PR, culture and whom you hire).</p>

<p>The only way people will know what you believe is by the things you say and do, and if you're not consistent in the things you say and do, no one will know what you believe.</p>

<p>It is at the WHAT level that authenticity happens.</p>
