<% provide(:title, 'Most Important Weekly Tasks - Priority Organizational Tool | Broaden and Build') %>
<h1>Most Important Weekly Tasks</h1>

<p>Derived from your projects list, and preferably completed on Sundays... Plan your week by choosing the most important tasks that need to be completed.</p>

<p>Gets organized further on a daily tasks page, based on priority and scheduling convenience.</p>

<table>
  <tr>
    <td>
      <h3>What are your most important tasks (MITs) for the week?</h3>
      <p>Choose a specific task small enough to be completed in a few hours or less i.e. Create monthly budget for expenses, savings, and income.
      <%= render 'shared/week_form' %>
      <%= render 'shared/mitfeed' %>
    </td>
  </tr>
</table>
