<% provide(:title, 'Brian Hildebrandt - About Me') %>
<h1>About Me</h1>

<div class="right">
<%= image_tag "Brian.jpg", :size => "200x200", :alt => "Picture of Brian Hildebrandt" %>
</div>

<p>Welcome to Broaden and Build... developed by - Brian Hildebrandt, from Ontario, Canada.</p>

<p>This website started as a vision to improve the quality of my own life, then has extended to help others. It's value is determined by the litmus test of...</p>

<p>"Is this something I will use? Does this actually help me?"</p>

<p>The website's main purpose; To ignite the human spirit and drive change. To satisy people's need for a simple, fun to use, and user friendly system; leading to a greater quality of life.</p>

<p>Is funded through voluntary donations - a true reflection of value received.</p>

<p>Anything is subject to change (including this outline) as better ideas are developed. In that regard, constructive feedback is greatly appreciated! :)</p>
