<% provide(:title, 'Brian Hildebrandt - About Me') %>
<h1>About Me</h1>

<div class="right">
<%= image_tag "Brian.jpg", :size => "200x200", :alt => "Picture of Brian Hildebrandt" %>
</div>

<p>Welcome to Broaden and Build... developed by - Brian Hildebrandt, from Ontario, Canada.</p>

<p>This website started as a vision to improve the quality of my own life, then has extended to help others. It's value is determined by the litmus test of...</p>

<p>"Is this something I use? Does this actually help me?"</p>

<p>The website's main purpose - To ignite the human spirit and drive change. To make the process of increasing people's quality of life more efficient, by getting rid of the fluff, unneeded explanations and theory that don't move forward positive change.</p>

<p>Is funded through voluntary donations - a true reflection of value received.</p>

<p>Anything is subject to change (including this outline) as better ideas are developed. In that regard, constructive feedback is greatly appreciated! :)</p>
