<% provide(:title, 'Brian Hildebrandt - About Me') %>
<h1>About Me</h1>

<div class="right">
<%= image_tag "Brian.jpg", :size => "200x200", :alt => "Picture of Brian Hildebrandt. Creator of Broaden and Build" %>
</div>

<p>Welcome to Broaden and Build... developed by - Brian Hildebrandt, from Ontario, Canada.</p>

<p>This website started as a mission to improve my own life,</p>

<p>Using the litmus test...</p>

<p>"Is this something I would use?" to help create something of greater value.</p>

<p>And the phrase...</p>

<p>"Good work. Sleep well. Lest a bus hit you in the morning.", to remind myself that life is precious and live in the moment.</p>

<p>The website's main purpose; to provide better practices towards self-directing one's life - and how it relates primarily to; emotion and motivation management, relevant productivity, healthy relationships and other self-sustaining principles.</p>

<p>The information is presenting in a form that's easier to use, aesthetically appealing, interesting and entertaining, and most importantly efficient at creating positive change!</p>

<p>Is funded through voluntary donations - a true reflection of value received.</p>

<p>Anything is subject to change (including this manifesto) as better ideas are developed. In that regard, constructive feedback is greatly appreciated! :)</p>
