<% provide(:title, 'About Me') %>
<h1>About Me</h1>

<div class="right">
<%= image_tag "Brian.jpg", :size => "200x200", :alt => "Picture of Brian Hildebrandt. Creator of Broaden and Build" %>
</div>

<p>Welcome to Broaden and Build... written and developed by yours truly - Brian Hildebrandt, hailing from Ontario, Canada.</p>

<p>My main goal with the site is to present the best practices towards creating a self-directed life - and how it relates primarily to; emotion and motivation management, productivity, healthy relationships and other self-sustaining principles.</p>

<p>Additionally, putting this information in a form that's easy to use, flows together well, is interesting, and most importantly efficient at creating positive change!</p>

<p>The quality and content of this site will be in a perpetual state of improvement, therefore articles and the website layout may be edited often. Constructive feedback is greatly appreciated.</p>
