<% provide(:title, 'Expanding Awareness - New and Varied Experiences') %>
<h1>Expanding Awareness</h1>

<p>One of the common themes to personal development, is the ability to continually move outside one's comfort zone. Taking new actions, having different thoughts, and feeling on levels previously not available, can provide a number of benefits including; increased creativity, problem solving, and social skills.</p>

<h3>Fear of Success or the Unknown</h3>

<p>What many label a fear of success is usually a discomfort towards the unknown. Our bodies and minds don't know what to expect so we go in to a higher state of alert or stimulation as a means of self-preservation.</p>

<p>This instinct is valuable in times when it's really needed. Sometimes risks are unnecessary and potentially damaging, other times they are highly rewarding.  Building the appropriate awareness helps identify what may be calculated risks and what may be foolish.</p>

<p>The more you expose yourself to new and varied experiences the more ability you'll have to create personal growth. It what distinguishes wisdom from knowledge, and street smarts from naivety. Another way of looking at it... top-down, higher order thinking and parallel processing, compared to bottom-up, lower order thinking and serial processing.</p>

<h3>Big Steps or Small Steps</h3>

<p>Some personal development advice adopts the use of grand goals to spur on motivation. This overly optimistic mindset combined with self-proposed "unrealistic goals" can create an environment of deep procrastination and eventual learned helplessness.</p>

<p>Examples taken from great visionaries throughout history does not translate well to the average person wishing to modestly improve their life over the short-term. The adage "If one man can do it, another can to" borders outside reality.</p>

<p>If these self-help philosophies actually worked then I'd think we'd see a little more 
"progress" in our society than we're currently experiencing. We'd all be millionaires, rock stars, professional athletes, models, actors, business tycoons, Nobel laureates, spiritual leaders, etc...</p>

<p>What may be a more sustainable approach is setting things just outside your comfort zone. Like compound interest... extending slowing outside your comfort zone can create large returns over the long haul. It may not feel very impressive at the moment, but think of the growth you'd experience over a span of a year, 5, 10, 25...</p>

<h3>Get Talking: Read and Travel</h3>

<p>Exposing yourself to new people, books of different interests, and travelling outside the confines of what you're used to can greatly change how you view the world.  It's amazing how we can look back on our lives and feel silly for the things we once believed in.</p>

<p>At the time whatever you thought felt perfectly find and normal. In hindsight, not so much. Most people progress through the path of the more they learn and the older they get, they less they feel they know. They're humbled by the vast world outside us. Most teenagers will think the opposite. :)</p>

<h3>Deep Thinking</h3>

<p>Sometimes it's not just important to expose yourself to new things but also to process them deeper as well. A wise man once said... thinking is one of the hardest things a person can do" and I believe it. To venture outside one's comfort zone is to live in a place foreign to yourself.</p>

<h3>Simplicity -  Mastering the Basics</h3>

<p>As many masters of their craft advocate... you need to get better at the fundamentals before you can progress to greater things. It feels boring and dull, but without a foundation awareness has nothing to base itself upon.</p>
