<% provide(:title, 'Goal Setting - Performance vs Mastery') %>
<h1>Mastery vs Performance Goal Setting</h1>

<p>Goal setting doesn't seem to work quite nearly as advertised. It's not just you... almost everyone seems to have the same problem.  Why is that?</p>

<h3>SHINE vs SMART Goals</h3>

<p>Performance goal setting, the "SMART" method... Specific, Measurable, Attainable, Relevant, and Timely, ultimately backfires since it runs in opposition to how we naturally think and motivate ourselves.</p>

<p>The mastery approach on the other hand, "SHINE"... Savor, Habit, Improvement, Need, and Expansion, runs more in line with our natural instincts and strengths.</p>

<p>Mastery goals meet our basic needs of freedom, competence, and connection to others, whereas performance goals feed off our ego and self-esteem. One is focused on the outside world, while the other is directed towards ourselves.</p>

<h3>Humility vs Preserving Self-Esteem</h3>

<p><strong>S-avor</strong>: Enjoying the moments that connect you with others. "I enjoy time with my mother/friend/community." ~ Mastery</p>
<p><strong>M-easurable</strong>: Measuring how you compare to others. "I am winning/dominant/special." ~ Performance</p>

<h3>Realism vs Optimism Mindset</h3>

<p><strong>H-abit</strong>: Choosing which outcomes are under your control. "I can prepare myself for the test/pageant/game." ~ Mastery</p>
<p><strong>T-imely</strong>: When expectations of future events drive your motivation. "I am going to be successful/rewarded/great." ~ Performance</p>

<h3>Improving vs Proving Yourself</h3>

<p><strong>I-mprovement</strong>: What needs to get better. "I am improving my skills/hobbies/relationship." ~ Mastery</p>
<p><strong>A-ttainable</strong>: How you need to be good. "I am intelligent/talented/beautiful." ~ Performance</p>

<h3>Essential vs What's Important</h3>

<p><strong>N-eed</strong>: Which task is essential for a meaningful life. "I need time with my family." ~ Mastery</p>
<p><strong>R-elavant</strong>: Whether the task is important. "I should be with my family." ~ Performance</p>

<h3>Open vs Narrow Minded</h3>

<p><strong>E-xpansion</strong>: Understanding what problem needs to be solved. "What is required to move towards a healthier bodyweight." ~ Mastery</p>
<p><strong>S-pecific</strong>: Deciding how you want to be thinner. "I want to lose 50 lbs of fat." ~ Performance</p>
