<% provide(:title, 'Habits are a Choice - Effectiveness Though Consistency | Broaden and Build') %>
<h1>Habits are a Choice</h1>

<p>Every thought we have, thing we do, or feeling we experience in some form is manifested by our habits. They help us by increasing our efficiency so our important resources of energy and attention can be better conserved.</p>

<p>We can choose to either set up positive habits through continually exercising our freedom of choice or let our environment make our decisions for us. It's the difference between being an active verses passive participant in your life!</p>

<p>The word habit unfortunately has a negative connotation for most. Many people see the creating of positive habits as a struggle due to the required self-discipline needed. Conversely attempting to break bad habits can often conjure feelings of self-defeat and failure.</p>

<h3>Enjoyment and Sustainable Improvement</h3>

<p>One of the ways to improve habit making ability is to try to approach it in a more enjoyable manner. Create pleasant change over the long haul rather than opting for fast and painful "instant gratification." Your mind just rebels and begins to shut down.</p>

<p>The more you see actions and thoughts as something you can reasonably sustain over the course of a  lifetime the more likely it will stick. This generally means abandoning the latest fads and quick fix approaches.</p>

<p>It may not be as hyped or sound as exciting but would you rather improve your life or live in a fantasy world where nothing ever changes? Harsh for some people perhaps but if it was easy, everyone would do it right?</p>

<h3>Persistence and Resilience</h3>

<p>A different perspective of habits... rather than trying to exert self-discipline and control, work towards persistence and resilience. Figure out what internally motivates you and against you. It's as simple as... if you get any satisfaction out of what you're doing, you're going to stay with it!</p>

<p>The more you can remain focused on what you want to achieve, enjoy the process, work towards improvement, and making it a priority, the easier it'll be to make a life long habit.</p>

<h3>Brain Injury and Neuroplasticity</h3>

<p>You may have heard the phrase "repetition is the mother of skill." There's no where else this is more evident than the rehabilitation programs created for people with acquired brain injuries.</p>

<p>Some brain injured patients, many who thought were beyond the ability to learn, have displayed an adoption of new habits through diligent repetition and consistency.</p>

<p>Severe aggressive behaviours due to a combination of brain damage, poor coping skills, and dysfunctional childhoods have shown measurable improvement and in many cases complete absence of the previously dysfunctional behavior.

<h3>Repetition Repetition Repetition</h3>

<p>You may not see much change the first time, the 10th time or even the 100th time but gradually the new skill becomes more and more efficient. Often times the biggest obstacle is the belief that the behavior can change.

<p>Once an individual understands it's change is possible, that's when major breakthroughs often occur. Feeling competent in your abilities generally spurs on greater motivation, which then snowballs towards greater improvement.</p>

<h3>Influence from your Environment and Perception</h3>

<p>Our habits are generally triggered by our emotional reaction to what's around us, combined with our perception of what that event means. Familiar people and surroundings can greatly influence specific thought-action tendencies.</p>

<p>That's where the importance of keeping consistency with your environment, social connections, thoughts, and actions can have a great impact on progress. If you know you have a particular weakness towards certain situations, it may be prudent to pick your battles and stay within your limitations... that is until another day when you can chip away at it under safer conditions.</p>

<p>Self-control and discipline require great amounts of "emotional energy" and once that limited supply is temporarily exhausted you're basically powerless to your most basic instincts.</p>

<h3>Fixed vs Growth Mindset</h3>

<p>Fixed vs growth mindsets play a large part in how we perceive our ability to change. If you think your abilities are fixed and unchangeable then you won't put much effort in to trying towards a better life.</p>

<p>However if you believe your abilities are malleable, following effort and learning more efficient strategies, then the road to change will be that much easier.</p>

<h3>Control: The Boundaries of Influence</h3>

<p>Understanding where your control lies, has a large effect on your ability to change. If you believe outside factors determine what you can do or who you are, then improvement will not appear very likely.</p>

<p>Conversely, if you believe you're the master of your destiny - where things under your control can be changed, and those beyond your control can be relinquished, then breakthroughs will be that much easier to develop.</p>

<p><strong>Some Rules of Thumb to Take Control of your Life</strong></p>
<ul>
<p><li> Positively influence your environment so it can influence you back.</li></p>
<p><li> Surround yourself with like minded people.</li></p>
<p><li> Every decision becomes a choice, and through repetition becomes easier with time.</li></p>
</ul>
