<p>If someone were to come to me, at the depths of their life, what could I say or do to have the greatest impact and help turn their life around?</p>

<h1>Embrace The Suck, Limit Your Fucks, And Show Up.</h1>

<div class="space"></div>

<p>Poverty, mental illness, lost relationships... Embracing the suck, has it's origins mainly from military culture (horrid living conditions under incredible stress) and extreme fitness (pushing your body to it's agonizing limits). Coming out the other side of a shithole and arriving renewed. Doing what's essential, while realizing pain is temporary and normal.</p>

<p>Unfortunately, self-help culture has spread the notion that we're supposed to be happy, excited and passionate about life, all the time, while limiting any negatives. Not only is it unrealistic, it's extremely destructive - an impossible ideal with high expectations that can never be met. If you're "failing" at feeling good all the time, which is inevitable, paradoxically only darkness can arise.</p>

<p>Without uncomfortableness and adversity, there are no rewards worth receiving. Yeah, responsiblities and hardships "suck", but they can also fuel our greatest accompishments. Poverty can incite the desire to learn, develop, and gain discipline. Mental illness is often the flip side of genious, creativity, and original thought. Death, divorce, and loneliness can bring about resilience, independence, and wisdom.</p>

<p>Confidence is the perception that you lack nothing. That you are equipped with everything you need, both now and the future. Being comfortable with what you potentially lack.</p>

<p>The future and past don't really exist. The only thing that's true, is what's happening to you at this very moment. If you focus on what you can do now, instead of what you can do later, no matter how bad you may fuck up, you've won the battle.</p>

<div class="space"></div>

<h3#>Writer's Objectives</h3>

<div>1. Did I start with an expectation of putting out crap?</div>
<div>2. Did I write for impact, rather than pontification?</div>
<div>3. Did I cut out any non-essential material?</div>
<div>4. Did I limit any graniosity or know-it-allness?</div>
<div>5. Was the message simple and easy to get across?</div>
<div>6. Do I follow this advice myself?</div>
<div>7. Err on publishing too early (to get shit done, and move forward! Revise later.).</div>


<h3>Requirements met for this article; Did this pass the impact test?</h3>

<div>1. Was the reader emotionally compelled to act?</div>
<div>2. Did the reader act on any advice given?</div>
<div>3. Did they read the article more than once?</div>
<div>4. Did they share with a friend?</div>

<h3>Comments</h3>
<p>Please share how you acted on the articles advice.</p>

<p>Coming soon.</p>

<div style="margin-left: 100px;">

</div>

<% unless ENV['RAILS_ENV'] == "development" %>

<% end %>

