 <div class="center hero-unit">
    <h1>SHINE from Within</h1>

    <h2>You are your greatest teacher. Listen to who knows you best.</h2>

    <%= link_to "Sign up for free access!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>

<div class="space"></div>

<div class="marginleft">

<div style="margin-left: 100px;">

<p>A greater capacity lies within you. Harness your wisdom, and set yourself free.</p>

<p>Record your life's passion. Building an inner collage of reflective feedback.</p>

</div>

</div>

<p>A simple but fitting example...</p>

<h3>The Wisdom of a Four Year Old</h3>

<div class="space"></div>

<iframe width="420" height="315" src="http://www.youtube.com/embed/qR3rK0kZFkg" frameborder="0" allowfullscreen></iframe>

<div class="space"></div>

<div class="marginleft">

<div style="margin-left: 250px;">

<p>Even inherant to a toddler, she appears...</p>

<p>- Grateful for what she has in life.</p>

<p>- Excited to be alive.</p>

<p>- Confident in her abilities.</p>

</div>

</div>

</div>
