  <div class="center hero-unit">
    <h1>SHINE from Within</h1>

    <h2>Your life is your message to the world. Make sure it's inspiring.</h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>

<div class="homemarginleft">

  <p><strong>S-avoring</strong>: Living in the moment by connecting with reenergizing activities and people.</p>

  <p><strong>H-abits</strong>: Increasing efficiency through consistent positive choices.</p>

  <p><strong>I-mprove</strong>: Building useful knowledge, skills and abilities to effectively impact one's environment.</p>

  <p><strong>N-eeds</strong>: Prioritizing essential needs to direct long term well-being.</p>

  <p><strong>E-xpand</strong>: Broadening awareness through new and varied experiences.</p>

</div>

  </div>
