  <div class="center hero-unit">
    <h1>Broaden and Build</h1>

    <h2>Your life is your message to the world. Make sure it's inspiring.</h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
