 <div class="center hero-unit">
    <h1>Broaden and Build</h1>

    <h2>Living with enthusiasm, despite all challenges.</h2>

    <%= link_to "Sign up for free access!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>

<div class="space"></div>

<div class="marginleft">

<div style="margin-left: 100px;">

</div>

</div>

<% unless ENV['RAILS_ENV'] == "development" %>

<% end %>

</div>
