 <div class="center hero-unit">
    <h1>SHINE from Within</h1>

    <h2>You are your greatest teacher. Listen to who knows you best.</h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>

<div class="space"></div>

<p>A greater capacity lies within you. Harness your wisdom to guide the moment, and set yourself free.</p>

<p>Record your life's passion. A collage to reflect your mindfulness from within.</p>
