  <div class="center hero-unit">
    <h1>SHINE from Within</h1>

    <h2>Your life is your message to the world. Make sure it's inspiring.</h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>

<div class="space"></div>

<div class="homemarginleft">

  <p><strong>S-avor</strong>: Connecting positive emotions, to reenergizing activities and people.</p>
			      
  <p><strong>H-abit</strong>: Effectively managing attention, through paths of least resistance.</p>
			      
  <p><strong>I-mprovement</strong>: Building skills, to successfully impact one's environment.</p>
									        
  <p><strong>N-eed</strong>: Prioritizing essential needs, to direct long term well-being.</p>

  <p><strong>E-xpansion</strong>: Broadening awareness, to factors within one's control.</p>

</div>
  </div>
