<% provide(:title, 'Self Improvement - Deliberate Practice') %>
<h1>Would you Rather Improve or Prove Yourself?</h1>

<p>One of the main reasons people are drawn to personal development, is to improve their useful knowledge, skills, and abilities to positively frame the world around them. If a practical skill set improves the quality of your life and others, greater personal freedoms and relationships are more able to flourish.</p>

<p>Strangely, the self-improvement industry appears to be at ends with it's original intent. Much of it isn't about actual improvement, rather than making you feel comfortable and right within yourself.</p>

<p>While managing your emotions is of course valuable, lets not disguise this advise for what it really is. There's coping with the emotional fallout of life's "struggles", and then there's working past them to more positive ground. If the only thing we're doing is protecting people's self-esteem then how valuable is it really?</p>

<h3>Self-Esteem or Self-Improvement</h3>

<p>There's a disturbing trend cultivating in western culture - to protect people's self-worth and confidence at the expense of being more competent. This idea is especially dominant in the manner we educate our children, and the political correctness we adults portray as a society.</p>

<p>Labelling a person as intelligent, beautiful, or special (whether it's true or not), may serve to temporarily boost one's confidence, however not without it's share of negative consequences. If someone identifies themselves based upon a generalization, a perceived value of worth tends to emerge.</p>

<p>A strong motivating force to prove their ability, balances an avoidance to feel like a personal failure. The goal becomes not to <strong>improve</strong> your intelligence, only to <strong>feel</strong> intelligent.  These people will tend to seek out opportunities that validate their self-concept and avoid situations where expectations of success may appear low.</p>

<p>The resulting outcome becomes fragile self-esteem locked in a bubble of perceived competency. They are only happy when they succeed to validate themselves, and become depressed or anxious when these conditions aren't met.</p>

<h3>Being Good vs Getting Better</h3>

<p>When choosing to work on getting better at the expense of appearing good, a whole world of opportunity can begin to develop. One focuses on what needs to be done, rather than what drives their immediate emotions.</p>

<p>It becomes easier to live in the moment and enjoy what you're doing, rather than being preoccupied about past failures or future expectations. An interesting side effect then begins to occur... Even though it may not be your primary intention, others begin to hold much more value to your daily contributions. You focus on creating happiness outside yourself rather than how things directly benefit you.</p>

<p>Permanently perceived failures, loses, and punishments start being viewed as temporary obstacles, challenges, and detours. Difficulty becomes associated to specific situations rather than generalized to your life as a whole.</p>

<p>Emotional stability becomes easier to maintain, due to not having to justify to yourself why things didn't work out as expected.</p>

<h3>Mastery vs Performance Goal Setting</h3>

<p>The concept of ego and humility falls within the dichotomy of mastery oriented goal setting vs the more traditional SMART performance goal setting method. If you've ever wondered why goal setting has been so difficult up to this point a different perspective may be in order.</p>

<p>Living in the moment, enjoying what you do, and continually improving provides much less resistance to getting things done and living on a much more satisfying level.</p>
