<% provide(:title, 'Creating Focus and Overcoming Procrastintion') %>
<h1>Creating Focus and Overcoming Procrastination<h1>

<h3>Challenge - June 5, 2012</h3>

<p>To create something of enough value today, to inspire a small donation.</p>

<p>Started 10:22 AM EST. Deadline midnight.</p>

<p>What would inspire someone to donate $10? How can I create that value?</p>

<p>How do I use my skills and strengths to create something that emotionally resonates with people... and can benefit them in some way?</p>

<h3>Plan</h3>

<p>Create idea - By 11:22 AM (Finished 11:12 AM)</p>

<p>Finish article or app - By 2 pm (Finished 2:09 PM)</p>

<p>Set up donation system through Paypal - By 3 pm (Finished 3:06 PM)</p>

<p>Market through blogs and social marketing - Until 5 pm or more appropriate deadline.</p>

<h3>Idea</h3>

<p>Complete something to positively impact a life today, that promotes the paying of it forward.</p>

<p><strong>1.</strong> Share your appreciation with someone, who deserves but may not be fully aware, of their positive impact on your life.</p>

<p><strong>2.</strong> Do something that provides great satisfaction; a hobby, interest or friendship you may have lost touch with from the past.</p>

<p><strong>3.</strong> Anything else that invigorates and makes you feel alive. Be creative are share your idea!</p>

<p>The kicker: Post your story and help inspire others. The value is in following through today; to make positive change, create inspiration, and contribute to yours and other's happiness.</p>

<%= render :partial => 'shared/disqus' %>

<p>If you received considerable value today, please consider a <%= link_to 'donation', donate_path %>. My goal is to provide something of worth, people will voluntarily pay for. It also provides useful feedback and inspiration towards greater value!</p>

<p>I'll provide an update at the end of the day to share my learning experiences from this exercise. The primary goal isn't necessarily to receive a donation but to follow through with an attempt at quality, with concentrated effort, in a relatively short period of time. All areas of improvement I need to focus on. :)</p>

