<% provide(:title, 'Essential Needs - Prioritizing Long Term Well-Being') %>
<h1>What do you Really Need?</h1>

<p>One of the most important aspects of goal setting, is choosing which direction you would like to lead your life. Do your wants serve a purpose and match your values? Many people wrestle with these questions, when asked what's important in life.</p>

<h3>Following your Passions: An ill Fated Pursuit?</h3>

<p>Figuring out what goals to adopt is one of the most difficult decisions people get hung up over. There's so many ways to answer the question, analysis can be paralysing. If you're in your 20's wondering what you want to be when you're grow up, or going through a mid life crisis and re-evaluating your life, it can be a tough nut to chew.</p>

<p>The following questions... What is my passion? What is my life's calling? What gives my life meaning and purpose? They are all ill suited to provide any actionable effect or fulfilling emotional response.</p>

<p>If whatever career, relationship, or other important area of yourself doesn't hold up to those impossibly high expectations, you will be left with a feeling of emptiness, self-doubt, and misery. It's hard to allow yourself to be happy if what you're doing right now doesn't sound exciting or worth while.</p>

<h3>Self-Determination Theory</h3>

<p>Self-determination theory developed by the research psychologists Deci and Ryan explains human motivation, concerning people's inherent growth tendencies and innate psychological needs. What appears to bear important time and time again throughout human history is are the three needs autonomy, competence, and relatedness.</p>

<p>Autonomy is about having control over how you fill your time. Competence is about mastering useful skills, and abilities.  And relatedness is about feeling connected to others. They could also be thought of as freedom, power, and love, and the transcribed emotions of peace, pride, and passion.</p>

<h3>Prioritize and Take Control</h3>

<p>In order to experience intrinsic motivation or another way of putting it... doing things because you want to do them rather than having to do them, the first need of autonomy needs to feel fulfilled. Having the perception of choice over your decisions, creates the feeling of being master of your own destiny.</p>

<p>The perception of being a slave to another's will is one of the most dis-empowering mindsets one can have. How we regain that control is through choosing boundaries for when and what we need to do.</p>

<p>If something is extremely important, schedule it at the beginning of your day and block of as many distractions and interruptions available. Getting in to the habit of choosing your focus and priorities in advance over time can have profound effects on increasing both your competence and relationships with others.</p>

<p>Only by giving yourself boundaries can you then give to yourself and others more value in return.</p>

<h3>Long Term vs Short Term Well-Being</h3>

<p>The ability to identify your needs and plan their accomplishment, distinguishes how you can transform unsustainable short-term appetites in to more fulfilling long term well-being. Short-term pleasure doesn't have to be at the expense of long term happiness but at least you'll have the control to reach a healthier balance.</p>
