The Co-op business model:share whatever you've got.

Where do you start when making any important life change?

Ahhh... The million dollar question.

This is the place where I've always had difficulty making progress. What should I be focusing on? What should I be doing? How do I get motivated? What will make it stick?

I've had the habit of reading, reading, and more reading... collecting more information. Parylsis by analysis. Gah!!!

The process gets overwhelming and frustrating. I get overloaded with stress... Things fall apart and I start at ground once zero again.

I studied psychology in university, probably for the same reason most others do. To learn more about their own "mentally interesting" qualities. Fixing themselves is usually the primary objective rather than it's more obvious purpose... as a means to help others.

One of my most useful practices, is the habit of asking questions as a means to direct my attention. I've had countless notebooks over the years used for this exact purpose. A mixture of introspective questions, ideas, goals, and to do lists.

I'm currently 35 years old, and have had a pretty avid interest the last 15 years in self help, personal development, positive psychology, what have you... and how have I benefitted?

In any tangible sense, not very well. I'm single, no kids, live in an apartment, no real assets and about 50k in debt. I have a couple close friends I don't see very often, but am reasonably close with my immediate family

The dimensions of a powerful question.

Is thought-provoking and invites reflection and finding deeper meaning
Expands possibilities or focuses attention
Brings underlying assumptions to light
Stimulates curiosity and creativity
Can help a group move forward

Less Powerful Questions
Yes/no
Which
Who
When
Where
What
How
Why*
What If
More Powerful Questions


“When do you go running?”

    “When the time is right.” 

“When is the time right?”

    “When it's a nice day, and I've finished my work, and I haven't just eaten, and I'm feeling energetic.” 

“Repeat that last sentence, changing ‘and’ to ‘or’.”

    “When it's a nice day, OR I've finished my work, OR I haven't just eaten, OR I'm feeling energetic.” 

“That sounds like a better plan.”

Mythical Figure of Wisdom

People can ask questions and sage will respond in a manner appropriate to best enlighten individual.

Keep a record of dialogue on the computer.

<h1>Consult the Oracle</h1>

Picture of Oracle

<h3>What do you need help with?</h3>

Is thought-provoking and invites reflection and finding deeper meaning
Expands possibilities or focuses attention
Brings underlying assumptions to light
Stimulates curiosity and creativity
Can help you move forward

Promotes action and prevents procrastination
Enhances self discovery
Establishes priorities and focuses attention

