<h1>Live in the Moment</h1>

<p>Reflect on your day to create an inventory of self discovery. It also serves to draw your attention on what to look for during the day. Over time you may notice patterns developing, which can help create new distinctions to draw upon.</p>

<table>
  <tr>
    <td>
      <h3>Am I Savoring?</h3>
      <p>What moments connected me to others today?</p>
      <%= render 'shared/savor_form' %>
      <p><%= render 'shared/savoringfeed' %></p>
    </td>
  </tr>

  <tr>
    <td>
      <h3>Am I Habitual?</h3>
      <p>What choices increased my consistency today?</p>
      <%= render 'shared/habit_form' %>
      <p><%= render 'shared/habitualfeed' %></p>
    </td>
  </tr>
</table>
