<h1>Savor the Moment</h1>

<h2>Living outside the moment is not truly living.</h2>

<p>An interesting time experiment... have you noticed how the experience of time gets faster or slower depending if you're thinking in the past, present or future?</p>

<p>The moments we enjoy, create a feeling of timelessness. The times we don't enjoy, present as feelings of anger or sadness (regarding past events) or feelings of fear (based on perceived future events).</p>

<p>The more we "think" the slower time appears to feel. I guess that's where the adage "Do you want to live for a long time or have a good time?" comes in place.</p>

<h3>Play and Connecting with Others</h3>

<p>This can be embraced by filling our time with activities that foster play or connecting to other people. It seems for much of us, as we get older we tend to lose the hobbies and leisure activities that brought joy to our lives.</p>

<p>With impending deadlines from work, busy home lives, and strained relationships where is the room for change? This is where an exercise in minimalism may be warranted.</p>

<p>If you cut out the things you don't really need, it allows for more free time and resources to be spent on more enjoyable activities. Do you really need those extra committees, a larger house, fancier cars... the showings of status and self-worth created by comparing yourself to others?</p>

<h3>Self-Esteem or Self-Improvement?</h3>

<p>Ultimately you become enslaved by what you own and who you think you should be. Being focused on yourself rather than the world outside of you, becomes a huge time and energy waste.</p>

<p>The resources spent keeping up appearances rather than enjoying the beauty around you creates a shift from de-energizing to re-energizing. The ability to savor the positive feelings created by your environment is the skill masters of their craft, mystics, and many of society's past and present heroes have come to embody.</p>

<p>Being involved in the present melts away stress, frees up mental resources, enhances creativity, and refines problem solving skills. Most people can identify periods where they felt in tune with these states but the process of consistently experiencing them proves tricky for most.</p>

<h3>Making Time for Interesting Activities</h3>

<p>So where does this lead us to? Finding time and interest for activities that quiet the mind and connect you to others. Respect the boundaries you are entitled to as a free individual. Only when you're at your best can you give others your best in return.</p>

<p>I'm not a big believer in prescriptive exercises. Most people already know what to do, it's finding the reasons to do so and the focus to remain there that needs to be tended to. Whatever leads to sustainable habits over the long term is generally the most effective.</p>

<p>Like compound interest, small changes today results in a fortune of excitement for the future.</p>
