<% provide(:title, 'Inspiring Quotations - Motivating Change') %>
<h1>Inspiring Quotations</h1>

<table>
  <tr>
    <td>
      <h3>Enter a quote that enriches your life.</h3>
      <p>Something inspiring, uplifting, or that motivates change.</p>
      <%= render 'shared/quote_form' %>
      <%= render 'shared/quotationfeed' %>
    </td>
  </tr>
</table>
