<% provide(:title, 'Cultivating Gratitude') %>
<h1>Cultivating Gratitude</h1>

<p>Gratitude is...</p>

<span>An appreciative attitude for what one has received.</span><br />
<span>A warm or deep appreciation of personal kindness.</span><br />
<span>A disposition to express gratefulness by giving thanks.</span>

<p></p>

<p>Each morning, ask myself the following question.</p>

<table>
  <tr>
    <td>
      <h3>What am I truly grateful for in my life?</h3>
      <div class="space"></div>
      <%= render 'shared/grateful_form' %>
      <%= render 'shared/gratitudefeed' %>
    </td>
  </tr>
</table>
<div class="space"></div>

<p>Aim for five answers, and if I have trouble at first, ask myself alternative probing questions such as:</p>

<span>- What relationships do I have that others don’t?</span><br />
<span>- What do I take for granted?</span><br />
<span>- What freedoms, unique abilities, and options do I have that others don’t?</span><br />
<span>- What advantages have I been given in life?</span><br />
<span>- Which allies and supporters have helped me to get to where I am?</span>

<div class="space"></div>

<h3>A Reminder on Gratitude</h3>

<p></p>

<span>Be Thankful,</span><br />
<span>Be thankful that you don’t already have everything you desire,</span><br />
<span>If you did, what would there be to look forward to?</span>

<p></p>

<span>Be thankful when you don’t know something,</span><br />
<span>For it gives you the opportunity to learn.</span>

<p></p>

<span>Be thankful for the difficult times,</span><br />
<span>During those times you grow.</span>

<p></p>

<span>Be thankful for your limitations,</span><br />
<span>Because they give you opportunities for improvement.</span>

<p></p>

<span>Be thankful for each new challenge,</span><br />
<span>Because it will build your strength and character.</span>

<p></p>

<span>Be thankful for your mistakes,</span><br />
<span>They will teach you valuable lessons.</span>

<p></p>

<span>Be thankful when you’re tired and weary,</span><br />
<span>Because it means you’ve made a difference.</span>

<p></p>

<span>It is easy to be thankful for the good things.</span><br />
<span>A life of rich fulfillment comes to those who are</span>
<span>also thankful for the setbacks.</span>

<p></p>

<span>GRATITUDE can turn a negative into a positive.</span><br />
<span>Find a way to be thankful for your troubles</span><br />
<span>and they can become your blessings.</span>

<p></p>

<p>~ Author Unknown ~</p>
