<% unless @goalfeed_items.empty? %>
  <table class="today" summary="Today Questions">
    <%= render :partial => 'shared/goalfeed_item', :collection => @goalfeed_items %>
  </table>
  <%= will_paginate @goalfeed_items %>
<% end %>
