<%= form_for (@habit) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :habitual, placeholder: "Compose habit..." %>
  </div>
  <%= f.submit "Create Habit", class: "btn btn-large btn-primary" %>
<% end %>
