<%= form_for (@journal) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :event, placeholder: "Compose new journal entry..." %>
  </div>
  <%= f.submit "Create Entry", class: "btn btn-large btn-primary" %>
<% end %>
