<% unless @mitfeed_items.empty? %>
  <table class="feed" summary="Feed Statements">
    <%= render :partial => 'shared/mitfeed_item', :collection => @mitfeed_items %>
  </table>
  <%= will_paginate @mitfeed_items %>
<% end %>
