<tr>
  <td class="statement">
    <h9><%= procrastination3feed_item.procrastination3 %></h9>
  </td>
  <td class="erase">
    <%= link_to "delete", procrastination3feed_item, :method => :delete,
                                              :confirm => "You sure?",
                                              :title => procrastination3feed_item.procrastination3 %>
  </td>
</tr>
