<%= form_for (@procrastinate2) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :procrastination2, placeholder: "Compose vision of future self..." %>
  </div>
  <%= f.submit "Create Activity", class: "btn btn-large btn-primary" %>
<% end %>
