<%= form_for (@quote) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :quotation, placeholder: "Compose new quotation..." %>
  </div>
  <%= f.submit "Create Quote", class: "btn btn-large btn-primary" %>
<% end %>
