<%= form_for (@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :read, placeholder: "Compose book to read..." %>
  </div>
  <%= f.submit "Create Book", class: "btn btn-large btn-primary" %>
<% end %>
