<%= form_for (@principle) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :value, placeholder: "Compose principle..." %>
  </div>
  <%= f.submit "Create Principle", class: "btn btn-large btn-primary" %>
<% end %>
