<%= form_for (@week) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :mit, placeholder: "Compose new task..." %>
  </div>
  <%= f.submit "Create MIT", class: "btn btn-large btn-primary" %>
<% end %>
