<% provide(:title, 'Projects') %>
<h1>Projects Towards Improvement</h1>

<p>The main focus is on deliberate practice to master something rare and valuable, as opposed to seeking goals based primarily off "passion" or your "life's calling." Mastering something unique creates the conditions to leverage your skills and value to others, resulting in greater daily freedoms and influence.</p>
<p>It's not so much about finding the "right goal" but doing any worthwhile goal to the best of your ability. Striving for improvement and stretching yourself beyond your comfort level is difficult, grinding work. However once your skills begin improving, as a side effect passion tends to arise spontaneously, through the rewarding feelings of doing something well and helping others by giving value.</p>

<table>
  <tr>
    <td>
      <h3>What area of your life would you like to improve?</h3>
      <p>Something requiring direction and focus i.e. Improve finances (increase earnings, reduce debt).</p>
      <%= render 'shared/project_form' %>
      <%= render 'shared/goalfeed' %>
    </td>
  </tr>
</table>
