<% provide(:title, 'Projects') %>
<h1>Projects</h1>

<table>
  <tr>
    <td>
      <h3>What project would you like to start?</h3>
      <p>Something requiring short term change (i.e. Create new workout plan)</p>
      <%= render 'shared/project_form' %>
      <%= render 'shared/goalfeed' %>
    </td>
  </tr>
</table>
