<% provide(:title, 'Books to Read') %>
<h1>Books to Read</h1>

<table>
  <tr>
    <td>
      <h3>What books will enrich me as a person and add value to my life?</h3>
      <%= render 'shared/read_form' %>
      <%= render 'shared/readfeed' %>
    </td>
  </tr>
</table>
