<% provide(:title, 'Having Fun - Creating Happiness') %>
<h1>Having Fun and Living in the Present</h1>

<table>
  <tr>
    <td>
      <h3>What activities pick up your mood?</h3>
      <p>A hobby such as listening to music, watching a funny movie, exercise, etc...</p>
      <%= render 'shared/fun_form' %>
      <%= render 'shared/funnestfeed' %>
    </td>
  </tr>
</table>
