<% provide(:title, 'Books to Read') %>
<h1>Change my Environment</h1>

<table>
  <tr>
    <td>
      <h3>What people, places, things, and activities can I surround myself with to help drive my vision/goals in life?</h3>
      <%= render 'shared/change_form' %>
      <%= render 'shared/changefeed' %>
    </td>
  </tr>
</table>
