<% provide(:title, 'Daily Journal - Track and Reflect') %>
<h1>Daily Tracker</h1>

<table>
  <tr>
    <td>
      <h3>Thoroughly and relentlessly track every action that relates to an area of my life I want to improve.</h3>
      <h2>(e.g., money, nutrition, fitness, recognizing others, parenting, etc...)</h2>
      <p>Write it all down. Every day. Without fail. No excuses, no exceptions.</p>
      <%= render 'shared/journal_form' %>
      <%= render 'shared/eventfeed' %>
    </td>
  </tr>
</table>
