<footer class="footer">
  <small>
    <a href="#">Broaden and Build</a>
    by Brian Hildebrandt
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%#= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
