   <div class="centered-sidebar">
  <div class="span4">
      <h3>Articles</h3>
      <ul class="nav nav-tabs nav-stacked">
        <li><%= link_to 'Goal Setting', goal_setting_path %></li>
        <li><%= link_to 'Savoring the Moment', savor_the_moment_path %></li>
      </ul>
  </div><!--/span-->
</div>

